<navigation></navigation>
<div class="main-panel">
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container-fluid">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                    <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">dashboard</i>
                            <p class="hidden-lg hidden-md">Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">person</i>
                            <p class="hidden-lg hidden-md">Profile</p>
                        </a>
                    </li>
                    <li class="separator hidden-lg hidden-md"></li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group form-search is-empty">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="material-input"></span>
                        <span class="material-input"></span></div>
                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <div class="content">

        <div class="container-fluid">
            <div class="row">
                <button class="btn btn-primary btn-round btn-fab btn-fab-mini pull-right btn-material" ng-click="vm.createSchedule()"><i class="material-icons">done</i></button>

                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="purple">
                        <i class="material-icons">schedule</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Новый розклад</h4>
                        <div class="table-responsive">
                            <div class="col-lg-5 col-md-5 col-sm-3">
                                <select class="selectpicker" data-style="select-with-transition"  title="Обрати організацію..." data-size="7">
                                    <option ng-repeat="organization in vm.organizations">{{organization.name}}</option>

                                </select>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-3">
                                <select class="selectpicker" data-style="select-with-transition"  title="Обрати номер групи..." data-size="7">
                                    <option ng-repeat="group in vm.groups">{{group.number}}</option>

                                </select>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3">
                                <select class="selectpicker" data-style="select-with-transition"  title="Обрати навчальний рік..." data-size="7">
                                    <option ng-repeat="year in vm.years">{{year}}</option>

                                </select>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td class="day_name" rowspan="6"><div>Понеділок</div></td>
                                    <td class="subject_number">1</td>
                                    <td class="tg-031e">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.monday[0].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.monday[0].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>

                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">2</td>
                                    <td class="tg-031e">

                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.monday[1].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.monday[1].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">3</td>
                                    <td class="tg-031e">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.monday[2].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.monday[2].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">4</td>
                                    <td class="tg-031e">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.monday[3].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.monday[3].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">5</td>
                                    <td class="tg-031e">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.monday[4].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.monday[4].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">6</td>
                                    <td class="tg-031e">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.monday[5].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.monday[5].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="day_name" rowspan="6"><div>Вівторок</div></td>
                                    <td class="subject_number">1</td>
                                    <td class="tg-031e">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.tuesday[0].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.tuesday[0].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">2</td>
                                    <td class="tg-031e">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.tuesday[1].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.tuesday[1].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">3</td>
                                    <td class="tg-031e">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.tuesday[2].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.tuesday[2].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">4</td>
                                    <td class="tg-031e">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.tuesday[3].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.tuesday[3].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">5</td>
                                    <td class="tg-031e">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.tuesday[4].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.tuesday[4].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">6</td>
                                    <td class="tg-031e">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.tuesday[5].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.tuesday[50].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="day_name" rowspan="6"><div>Середа</div></td>
                                    <td class="subject_number">1</td>
                                    <td class="tg-yw4l">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.wednesday[0].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.wednesday[0].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">2</td>
                                    <td class="tg-yw4l">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.wednesday[1].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.wednesday[1].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">3</td>
                                    <td class="tg-yw4l">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.wednesday[2].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.wednesday[2].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">4</td>
                                    <td class="tg-yw4l">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.wednesday[3].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.wednesday[3].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">5</td>
                                    <td class="tg-yw4l">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.wednesday[4].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.wednesday[4].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">6</td>
                                    <td class="tg-yw4l">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.wednesday[5].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.wednesday[5].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="day_name" rowspan="6"><div>Четвер</div></td>
                                    <td class="subject_number">1</td>
                                    <td class="tg-yw4l">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.thursday[0].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.thursday[0].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">2</td>
                                    <td class="tg-yw4l">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.thursday[1].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.thursday[1].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">3</td>
                                    <td class="tg-yw4l">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.thursday[2].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.thursday[2].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">4</td>
                                    <td class="tg-yw4l">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.thursday[3].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.thursday[3].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">5</td>
                                    <td class="tg-yw4l">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.thursday[4].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.thursday[4].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">6</td>
                                    <td class="tg-yw4l">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.thursday[5].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.thursday[5].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="day_name" rowspan="6"><div>П'ятниця</div></td>
                                    <td class="subject_number">1</td>
                                    <td class="tg-yw4l">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.friday[0].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.friday[0].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">2</td>
                                    <td class="tg-yw4l">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.friday[1].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.friday[1].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">3</td>
                                    <td class="tg-yw4l">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.friday[2].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.friday[2].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">4</td>
                                    <td class="tg-yw4l">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.friday[3].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.friday[3].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">5</td>
                                    <td class="tg-yw4l">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.friday[4].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.friday[4].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject_number">6</td>
                                    <td class="tg-yw4l">
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.friday[5].subject" ng-options="sub._id as sub.name for sub in vm.subjects"></select>

                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-3">
                                            <select name="singleSelect" ng-model="vm.schedule.friday[5].teacher" ng-options="teach._id as teach.name for teach in vm.teachers"></select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-3">
                                            <div class="form-group label-floating is-empty room_number">
                                                <label class="control-label">Аудиторія</label>
                                                <input type="number" class="form-control">
                                                <span class="material-input"></span></div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>