<navigation></navigation>
<div class="main-panel">
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container-fluid">
            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                    <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons visible-on-sidebar-mini">view_list</i>
                </button>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">dashboard</i>
                            <p class="hidden-lg hidden-md">Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">person</i>
                            <p class="hidden-lg hidden-md">Profile</p>
                        </a>
                    </li>
                    <li class="separator hidden-lg hidden-md"></li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group form-search is-empty">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="material-input"></span>
                        <span class="material-input"></span></div>
                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <div class="content">

        <div class="container-fluid">
            <div class="row">
                <a href="/admin/schedule/add-schedule"><button class="btn btn-primary  btn-round btn-fab btn-fab-mini pull-right btn-material" data-toggle="modal" data-target="#myModal"> +</button></a>
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="purple">
                        <i class="material-icons">schedule</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Розклад</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                <tr>
                                    <th>Організація</th>
                                    <th>Група</th>
                                    <th>Навчальний рік</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="schedule in vm.schedules ">
                                    <td>{{schedule.organization.name}}</td>
                                    <td>{{schedule.group.number}}</td>
                                    <td>{{schedule.year}}</td>
                                    <td>
                                        <a ng-href="/schedule/{{schedule._id}}"><button class="btn btn-success btn-xs"
                                                data-target="#edit-organization"><i
                                                class="material-icons">remove_red_eye</i>
                                        </button></a>
                                        <a ng-href="/admin/schedule/{{schedule._id}}"><button class="btn btn-warning btn-xs" data-toggle="modal"
                                                data-target="#edit-organization" ng-click="vm.editSchedule(schedule._id)"><i
                                                class="material-icons">edit</i>
                                        </button></a>
                                        <button class="btn btn-danger btn-xs" ng-click="vm.removeSchedule(schedule._id)">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



