body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.sidebar {
  position: fixed;
}

.modal-backdrop {
  display: none;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-image: none;
}
.btn.btn-fab.btn-fab-mini.btn-material{
  position: absolute;
  z-index: 9999;
  right: 30px;
  height: 63px;
  width: 63px;
  margin-top: 4px;
  font-size: 35px;
}
